html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: '微软雅黑', arial, courier new, courier, "\5b8b\4f53", monospace;
	color: #454545;
	font-size: 12px;
}

body {
	margin: 0;
	padding: 0px;
}

a {
	background-color: transparent;
	text-decoration:none; cursor:pointer;
}

a:active,a:hover {
	outline: 0
}

ul{ 
	list-style:none;
	margin: 0px;
	padding: 0px;
}

img{ 
	border:0px; border:none;
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

img {
	border: 0
}

button,input,select,textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,select {
	text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button
	{
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

textarea {
	overflow: auto
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,th {
	padding: 3
}